.voting-page {
    height: 100vh;

    .page-grid {
        display: grid;
        grid-template: minmax(200px, 40%) 150px 1fr / 250px 1fr;
        height: 100%;
    }

    .question {
        grid-column: span 2;
        font-size: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 40px 10px 40px;
    }

    .options {
        grid-column: span 2;
        counter-reset: section;
        display: grid;
        align-items: center;
        font-size: 28px;
        justify-content: center;
        grid-template-columns: repeat(4, max-content);

        & > * {
            border: 2px solid currentColor;
            padding: 10px 30px;
            border-radius: 5px 0;
            color: #555;
            margin: 10px;
            width: 250px;
            overflow: hidden;

            &:before {
                counter-increment: section;
                content: counter(section) ".";
                padding-right: 20px;
            }
        }
    }

    .countdown {
        font-size: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 3 / 1 / 3 / 2;
    }

    .voters {
        grid-area: 3 / 2 / 3 / 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 70px 0 0;

        .voter {
            border: 2px solid #aaa;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin: 10px;

            &.voted{
                border-color: transparent;
                background: #050;
                animation: voter-fading 1.5s ease-in infinite alternate
            }
        }
    }

    .loading {
        background: #fff;
        grid-area: 3 / 1 / 3 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 42px;
        color: #aaa;
    }
}